apiserver_lb: nginx
nginx_version: "1.28.0"
# use_proxy: "10.60.100.1:7890"
# no_proxy: "localhost,*.ucloud.cn,10.60.0.0/16,*.xiong03.cn,*.example.com,172.16.0.0/12,10.96.0.0/12"
enable_docker: true
enable_kubeadm: false
all_hosts_network_ok: true
remote_download: false
etcd_version: "v3.6.2"
k8s_version: "v1.28.15"
ansible_ssh_private_key_file: ~/.ssh/uk8s-spt-id-rsa
ansible_python_interpreter: /usr/bin/python3
# https://xiong03.oss-cn-hangzhou.aliyuncs.com/kubernetes/v1.28.5/kubernetes-client-linux-amd64.tar.gz
# download_url: "https://xiong03.oss-cn-hangzhou.aliyuncs.com"
download_url: "http://10.7.113.101:20081/autokube/"
artifacts_dir: "../artifacts"
cri_docker_version: "0.3.17"
cni: "calico"
